body.ui-color-scheme-dark {
  --ox-primary: hsl(150, 46%, 61%);
  --ox-primary-blur: hsl(150, 28%, 8%);
  --ox-secondary: hsl(60, 43%, 54%);
  --ox-secondary-blur: hsl(60, 26%, 7%);
  --ox-tertiary: hsl(330, 52%, 77%);
  --ox-tertiary-blur: hsl(330, 17%, 10%);
  --ox-quaternary: hsl(240, 57%, 81%);
  --ox-quaternary-blur: hsl(240, 19%, 11%);
  --ox-bg: hsl(150, 100%, 0%);
}

body.ui-color-scheme-light {
  --ox-primary: hsl(150, 100%, 15%);
  --ox-primary-blur: hsl(150, 25%, 80%);
  --ox-primary-bg: hsl(150, 50%, 92%);
  --ox-secondary: hsl(60, 100%, 15%);
  --ox-secondary-blur: hsl(60, 30%, 80%);
  --ox-secondary-bg: hsl(60, 90%, 92%);
  --ox-tertiary: hsl(330, 100%, 15%);
  --ox-tertiary-blur: hsl(330, 20%, 85%);
  --ox-tertiary-bg: hsl(330, 20%, 90%);
  --ox-quaternary: hsl(240, 100%, 15%);
  --ox-quaternary-blur: hsl(240, 20%, 85%);
  --ox-quaternary-bg: hsl(240, 20%, 90%);
  --ox-bg: hsl(150, 100%, 100%);
}

.ui-corner-round {
  --ox-round-factor: 1;
}

.ui-corner-sharp {
  --ox-round-factor: 0;
}
