:root {
  font-size: 0.625rem;
  line-height: 1.5;
  font-weight: 400;

  --font-size-factor: 1;

  font-size: calc(var(--font-size-factor) * 0.625rem);

  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;

  --fg-dark: #27c927;
  --fg-light: #000000;
  --bg-dark: #000000;
  --bg-dim-dark: #011e01;
  --bg-light: #ffffff;
  --bg-dim-light: #e7e7e7;
  --fg-invert-dark: #20d02090;
  --fg-invert-light: #00000090;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cell-size: 64px;
}

* {
  font-size: 1.6rem;
  box-sizing: border-box;
}

figure {
  margin: 0;
}

body {
  max-width: calc((12 * var(--cell-size)) + (11 * var(--cell-size) / 2));
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg);
  color: var(--fg);
}

body.color-scheme-dark {
  --fg: var(--fg-dark);
  --fg-invert: var(--fg-invert-dark);
  --bg: var(--bg-dark);
  --bg-dim: var(--bg-dim-dark);
}

body.color-scheme-light {
  --fg: var(--fg-light);
  --fg-invert: var(--fg-invert-light);
  --bg: var(--bg-light);
  --bg-dim: var(--bg-dim-light);
}

::selection {
  color: var(--bg);
  background: var(--fg);
}

.bg-dim {
  background: var(--bg-dim);
}

button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid var(--fg);
  padding: 0 1.6rem;
  color: var(--fg);
  font-size: 1.6rem;
  /*font-weight: 500;*/
  font-family: inherit;
  background: none;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  text-decoration: none;
}

button:hover,
.button:hover {
  color: var(--bg);
  background: var(--fg);
}

button:disabled,
.button:disabled,
.disabled {
  filter: opacity(0.6);
  cursor: not-allowed;
}

button:disabled:active,
.button:disabled:active,
.disabled:active {
  pointer-events: none;
}

.border {
  border: 1px solid var(--fg);
}

.border-0 {
  border: none;
}

.border-top {
  border-top: 1px solid var(--fg);
}

.border-bottom {
  border-bottom: 1px solid var(--fg);
}

.border-left {
  border-left: 1px solid var(--fg);
}

.w-05 {
  width: calc(var(--cell-size) / 2);
}

.w-1 {
  width: var(--cell-size);
}

.w-2 {
  width: calc(2.5 * var(--cell-size));
}

.w-auto {
  width: auto;
}

.h-full {
  height: 100%;
}

.h-05 {
  height: calc(var(--cell-size) / 2);
}

.h-1 {
  height: var(--cell-size);
}

.h-1 {
  height: var(--cell-size);
}

.m-1 {
  margin: calc(var(--cell-size) / 2);
}

.m-2 {
  margin: var(--cell-size);
}

.mx-2 {
  margin-left: var(--cell-size);
  margin-right: var(--cell-size);
}

.my-1\/2 {
  margin-top: calc(var(--cell-size) / 4);
  margin-bottom: calc(var(--cell-size) / 4);
}

.my-1 {
  margin-top: calc(var(--cell-size) / 2);
  margin-bottom: calc(var(--cell-size) / 2);
}

.my-2 {
  margin-top: var(--cell-size);
  margin-bottom: var(--cell-size);
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: calc(var(--cell-size) / 2);
}

.p-1\/2 {
  padding: calc(var(--cell-size) / 4);
}

.px-1 {
  padding: 0 calc(var(--cell-size) / 2);
}

.px-2 {
  padding: 0 var(--cell-size);
}

.w-full {
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.hidden {
  display: none;
}

.basis-1\/2 {
  flex-basis: 50%;
}

.basis-1\/3 {
  flex-basis: 33.33%;
}

.basis-1\/4 {
  flex-basis: 25%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.space-1\/2 {
  gap: calc(var(--cell-size) / 4);
}

.space {
  gap: calc(var(--cell-size) / 2);
}

.space-2 {
  gap: var(--cell-size);
}

.no-select {
  user-select: none;
}

.border-collapse {
  margin: -0.5px;
}

.border-collapse-box-x > *:not(:last-child) {
  border-right: 0 !important;
}

.border-collapse-box-y *:not(:last-child) {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: none;
}

.border-right-0 {
  border-right: none;
}

@media (min-width: 640px) {
  .sm\:col {
    display: flex;
    flex-direction: column;
  }

  .sm\:row {
    @media (min-width: 640px) {
      display: flex;
    }
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:basis-1\/2 {
    flex-basis: 50%;
  }

  .sm\:basis-1\/3 {
    flex-basis: 33.33%;
  }

  .sm\:space {
    gap: calc(var(--cell-size) / 2);
  }

  .sm\:space-2 {
    gap: var(--cell-size);
  }

  .sm\:m-2 {
    margin: var(--cell-size);
  }
}

@media (min-width: 768px) {
  .md\:hidden {
    display: none;
  }

  .md\:col {
    display: flex;
    flex-direction: column;
  }

  .md\:row {
    display: flex;
    flex-direction: row;
  }

  .md\:basis-1\/2 {
    flex-basis: 50%;
  }

  .md\:basis-1\/3 {
    flex-basis: 33.33%;
  }

  .md\:m-1 {
    margin: calc(var(--cell-size) / 2);
  }

  .md\:m-2 {
    margin: var(--cell-size);
  }

  .md\:border {
    border: 1px solid var(--fg);
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:text-center {
    text-align: center;
  }

  .md\:align-start {
    align-items: flex-start;
  }

  .md\:align-center {
    align-items: center;
  }

  .md\:align-end {
    align-items: flex-end;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:space {
    gap: calc(var(--cell-size) / 2);
  }

  .md\:space-2 {
    gap: var(--cell-size);
  }

  .md\:px-2 {
    padding: 0 var(--cell-size);
  }
}

@media (min-width: 1024px) {
  .lg\:hidden {
    display: none;
  }

  .lg\:col {
    display: flex;
    flex-direction: column;
  }

  .lg\:row {
    display: flex;
    flex-direction: row;
  }

  .lg\:basis-1\/2 {
    flex-basis: 50%;
  }

  .lg\:basis-1\/3 {
    flex-basis: 33.33%;
  }

  .lg\:m-2 {
    margin: var(--cell-size);
  }

  .lg\:p-2 {
    padding: var(--cell-size);
  }

  .lg\:space {
    gap: calc(var(--cell-size) / 2);
  }

  .lg\:space-2 {
    gap: var(--cell-size);
  }

  .lg\:basis-1\/2 {
    flex-basis: 50%;
  }

  .lg\:basis-1\/3 {
    flex-basis: 33.33%;
  }

  .lg\:basis-1\/4 {
    flex-basis: 25%;
  }
}

@media (min-width: 1280px) {
  .xl\:hidden {
    display: none;
  }

  .xl\:col {
    display: flex;
    flex-direction: column;
  }

  .xl\:row {
    display: flex;
  }

  .xl\:basis-1\/2 {
    flex-basis: 50%;
  }

  .xl\:basis-1\/3 {
    flex-basis: 33.33%;
  }

  .lg\:space {
    gap: calc(var(--cell-size) / 2);
  }

  .lg\:space-2 {
    gap: var(--cell-size);
  }
}

@media (min-width: 1536px) {
  .\2xl\:hidden {
    display: none;
  }

  .\2xl\:col {
    display: flex;
    flex-direction: column;
  }

  .\2xl\:row {
    display: flex;
  }

  .\2xl\:basis-1\/2 {
    flex-basis: 50%;
  }

  .\2xl\:basis-1\/3 {
    flex-basis: 33.33%;
  }

  .lg\:space {
    gap: calc(var(--cell-size) / 2);
  }

  .lg\:space-2 {
    gap: var(--cell-size);
  }
}

.wrap {
  flex-wrap: wrap;
}

.end {
  justify-content: flex-end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.m-0 {
  margin: 0;
}

.mt {
  margin-top: calc(var(--cell-size) / 2);
}

.mt-2 {
  margin-top: var(--cell-size);
}

.mt-1\/2 {
  margin-top: calc(var(--cell-size) / 4);
}

.mb-2 {
  margin-bottom: var(--cell-size);
}

.mb {
  margin-bottom: calc(var(--cell-size) / 2);
}

.mb-1\/2 {
  margin-bottom: calc(var(--cell-size) / 4);
}

.mb-1\/4 {
  margin-bottom: calc(var(--cell-size) / 8);
}

.bottom {
  bottom: 0;
}

a {
  line-height: 1.5;
  font-weight: 400;
  color: var(--fg);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.break-all {
  word-break: break-all;
}

a:hover {
  color: var(--bg);
  background: var(--fg-invert);
}

a:current {
  background: yellow !important;
}

.lh-1\.5 {
  line-height: 1.5;
}

.lh-1\.75 {
  line-height: 1.75;
}

.lh-2 {
  line-height: 2;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 3.2rem;
  line-height: 1.25;
  font-weight: 500;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 600;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 700;
}

p {
  line-height: 1.75;
}

.shrink {
  flex-shrink: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.grow-0 {
  flex-grow: 0;
}

.grow {
  flex-grow: 1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --fg: var(--fg-light);
    --bg: var(--bg-light);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.relative {
  position: relative;
}

.bg {
  background: var(--bg);
}

img {
  filter: grayscale(1) brightness(0.75);
}

img:hover {
  filter: grayscale(0) brightness(1);
}

.top {
  top: 0;
}

.left {
  left: 0;
}

.opacity-0\.5 {
  opacity: 0.5;
}

.bg-blur {
  backdrop-filter: blur(8px);
}
