.title {
  font-size: 3.2rem;
  line-height: 1.2;
}

.sub-title {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

.modal {
  width: 100%;
  max-width: calc(var(--cell-size) * 4 + var(--cell-size) * 3);
}
